{#

Renders a menu into the offcanvas region. To use the offcanvas region, the
offcanvas wrapper needs to be used.

Needs to be used in combination with Tab Bar, but can also be used in a
responsive hybrid with top bar on large screen, and offcanvas menu on small.

See: http://foundation.zurb.com/docs/components/offcanvas.html

#}
{% if menu.get_items %}

    <ul class="off-canvas-list">
        {% for item in menu.get_items %}

            <li id="menu-item-{{item.ID}}" class="menu-item menu-item-type-{{item.type}} menu-item-object-{{item.object}} menu-item-{{item.ID}}">
                <a href="{{item.link}}">{{item.title}}</a>
            </li>

            {% if item.get_children %}
                <ul class="off-canvas-sublist">
                  {% for child in item.get_children %}
                    <li id="menu-child-{{child.ID}}" class="menu-child menu-child-type-{{child.type}} menu-child-object-{{child.object}} menu-child-{{child.ID}}">
                        <a href="{{child.get_path}}">{{child.title}}</a>
                    </li>
                  {% endfor %}
                </ul>
             {% endif %}

        {% endfor %}
    </ul>

{% endif %}